

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}

p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #d6f4f2;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: #000;
  font-size: 24px;
  font-family: courier, sans;
}



.cart {
  display: block;
  position: relative;
  max-width: 462px;
  width: 380px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  border: 1px solid #00838d;
  z-index: 0;
  overflow: hidden;
}

.cart:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #d6f4f2;

  height: 32px;
  width: 40px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.cart:hover {
  border: none;
}

.cart:hover:before {
  transform: scale(21);
 
}

.cart:hover p {
  transition: all 0.3s ease-out;
  color: #000
}

.cart:hover h2 {
  transition: all 0.3s ease-out;
  color: #000;
}


.text-value {
  margin-top: 15px;
  color:#000;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.Vstack-title {
  color: var(--Vstack-title);
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.8;
  font-size: 15px;
}



