
.home_bg {
  border-bottom: 3px solid #000;
  margin: 0 110px;
  
}


.groot {
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;

}


.home_heading {
    font-size: 90px;
    font-weight: 700;
}

.home_heading span {
    background: #ffc224;
    padding: 0.5rem;
    font-size: 90px;

}
.lanch_head {
    font-size: 90px;
    font-weight: 700;
}

.lanch_head span {
    background: #ffc224;
    padding: 0.5rem;
    font-size: 90px;

}

@media only screen and (max-width: 400px) {
  .home_heading {
    font-size: 20px;
    text-align: center !important;
  
  }
  .home_heading span {
    font-size: 30px !important;

  }
}
@media only screen and (max-width: 600px) {
  .home_bg {
    border: none;
  }
  .groot {
    width: 300px !important;
    position: relative;
    left: -85px;
  }
  .home_heading {
    font-size: 30px !important;
    /* font-weight: 700; */
    
    text-align: center;
    align-items: center;
    transform: scale(1.4);
  }
  .lanch_head {
    font-size: 30px !important;
    transform: scale(1.4);
    text-align: center;
    align-items: center;

  }
  .home_heading span {
    font-size: 46px;
    
   
  }
  .lanch_head span {
    font-size: 46px;

    display: block;
    width: fit-content;
  }
  .svgs {
    display: none;
  }
}






@media only screen and (max-width: 1200px) {
    .home_bg {
        border: none;
    } 
    .home_heading {
      font-size: 50px;
      /* font-weight: 700; */
  
      text-align: center !important;
      align-items: flex-start;
      transform: scale(1.4);
    }

    .groot {
      width: 300px !important;
   
    }
    .svgs {
        display: none;
      }
      .lanch_head {
        font-size: 50px;
        text-align: center !important;
        align-items: flex-start;
        transform: scale(1.4);
      }
      .lanch_head span {
        font-size: 46px;
    
        display: block;
        width: fit-content;
      }
}


:root {
  --backgroundColor: #232323;
  --firstColor: #00D69C;
  --secondColor: #C52AFC;
  --thirdColor: #FF1F00;
  --fourthColor: #FFD600;
  --dropShadowColor: rgba(0, 0, 0, .7);
}
  .svgs {

    animation: move 24s ease-in-out infinite;
    opacity: 0.5;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(0, 0) rotate(44deg); fill: var(--firstColor); filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
  
  
    75%  { transform: scale(0.8) translate(5vw, 10h) rotate(55deg); fill: var(--fourthColor); filter: drop-shadow( 14px 14px 6px var(--dropShadowColor)); }
    100% { transform: scale(1)   translate(0, 0) rotate(44deg); fill: var(--firstColor); filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
  }
  