/* Footer */

.foot {
    color: var(--primary-color);
    position: sticky !important;
    top: 100% !important;
}

.ftr_logo {
    width: 50% !important;
}

.ftr_main {
    display: flex;
    justify-content: space-between;
}

.ftr {
    width: 25%;
}

.ftr_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    .ftr_logo {
        width: 53%;
    }
}

@media screen and (max-width:767px) {

    .ftr_logo {
        width: 30% !important;
    }
    
    .ftr_main {
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 3rem;
    }

    .ftr {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .ftr_main {
        gap: 2rem;
    }
}