@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    /* background-color: var(--head-bg) !important; */
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --primary-color: #fff; */
    --blue-color: #1890ff;
    --head-bg: rgba(59,130,246,.5);
    /* --head-btn: #d2555b; */
    --head-btn: rgba(59,130,246,.5);
    --shadow: -6px -6px 10px rgba(253,251,211,.2), 6px 6px 10px rgba(0,0,0,.8);
    --bottom-border: 1px solid black;
    /* background: #1e3c72; 
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background: linear-gradient(to right, #2a5298, #1e3c72);  */

}

.light-theme{
    --primary-color: #000;
    --table-clr: #000;
    --bg-clr: #fff;
    --bg-img:url('../../components/assets/light.png');
    --border-:1px solid black;
    --form-back: #f1eded;
    --bottom-border: 1px solid #000;
    --front-bg: #fff;
    --modal-bg: #fff;
    --nordek-bg: #EEF3F6;
    --Vstack-title: rgb(22, 22, 22);
    --text-value: #000;
  }
  .dark-theme{
      background-image: linear-gradient(315deg, #09224Eff, #16487Dff, #06092Aff, #080B30ff, #02080Fff);;
    --bg-clr: rgb(15, 11, 11);
    --primary-color: #fff !important;
    --table-clr: #fff;
    --bg-img:url('../../components/assets/dark.png');
    --border-:1px solid white;
    --form-back: #2a3e64;
    --bottom-border: 1px solid #fff;
    --front-bg: rgba(9, 12, 19, 1);
    --modal-bg: rgb(16, 27, 16);
    --nordek-bg: #343535;
    --text-value: rgb(255, 255, 255);
    --Vstack-title: #fff;
  }

/* .bg_img {
    background: url('../assets/bg.svg');
    background-size: cover;
    background-position: 50%;
    z-index: -10 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

a  {
    color: var(--primary-color) !important;
    text-decoration: none !important;
}

a:hover {
    color: #1890ff !important;
}

h1,h2,h3,h4,h5,h6,p,span {
    color: var(--primary-color);
}