/* Self Statistics */
.lanch-bg {
  border-bottom: 3px solid #000;
  margin: 0 110px;
     
   
  }
.vstack-bg {
  border-bottom: 3px solid #000;
  margin: 0 110px;
     
   
  }
.stats_btns {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    gap: 2rem;
    color: var(--primary-color) !important;
  }

  .stats_btn {
    display: block;
    width: 30% !important;
    border: none !important;
    background-color: #d6f4f2!important;
    line-height: 18px !important;
    padding: 15px 20px  0 20px !important;
    margin: 5px 0;
    text-align: center;
    font-size: calc(.5em + 1vw);
    color: var(--primary-color) !important;
}

.below_btns {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    margin: auto;
    gap: 1rem;
    margin-top: 2rem;
}

.stats_btn1 {
    display: block;
    width: fit-content !important;
    border: 1px solid var(--head-bg) !important;
    border-radius: 20px !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    padding: 10px 15px !important;
 
}

.stats_btn2 {
    display: block;
    width: 100% !important;
    border: 1px solid transparent !important;
    border-radius: 20px !important;
    background-color: #aef3ee !important;
    color: var(--primary-color) !important;
    padding: 14px 20px !important;
    font-size: calc(.5em + 1vw);
}

.stats_btn_p {
    font-weight: 600;
    line-height: 0;
}

@media screen and (max-width: 768px) {
    .stats_btns {
        display: flex;
        justify-content: center !important;
        gap: 1rem;
      }
      
      
      .vstack-bg {
        border: none;
      }
      .stats_btn {
          display: block;
          width: 100% !important;
          line-height: 11px !important;
          padding: 15px 20px  0 20px !important;
          margin: 5px 0 !important;
          font-size: calc(.5em + .6vw) !important;
      }

      .below_btns {
        flex-direction: column;
        width: 96%;
        gap: .3rem;
    }
.sma {
  font-size: 30px !important;
}
.lanch-bg {
  border: none;
}


    .fon {
        font-family: 'Lora', serif;
font-family: 'PT Serif', serif;
    }
      
      /* .stats_btn1 {
          display: block !important;
          width: 100% !important;
          padding: 10px 15px !important;
          font-size: calc(.5em + 1vw) !important;
          margin: 5px 0;
      } */
      
      .stats_btn2 {
          display: block !important;
          width: 100% !important;
          padding: 14px 20px !important;
          font-size: calc(.5em + 1vw) !important;
      }
      
      .stats_btn_p {
          font-weight: 600;
      }
} 
 
 /* Network Statistics */

 .network_stats_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.network_stats_btn {
    background-color:#d6f4f2!important;
    color: #000 !important;
    border: 1px solid transparent !important;
    line-height: 5px !important;
    padding: 14px 1px !important;
    display: block;
    width: 50%;
    font-size: calc(.5em + 1vw);   
}

.network_stats_fixed {
     display: flex;
     justify-content: center;
}

.network_stats_fixed_btn {
    display: block;
    width: 45%;
    background-color:#d6f4f2 !important;
    color: #000 !important;
    border: 1px solid transparent !important;
    line-height: 10px !important;
    padding: 10px 1px !important;
    font-size: calc(.5em + 1vw); 
   
    bottom: 2px;
    border-radius: 20px !important;
}

@media screen and (max-width: 768px) {
    .network_stats_btn {
       width: 100%;
    }

    .network_stats_fixed_btn {
        width: 90%;
    }
    .vest {
      width: 300px !important;
      position: relative;
      left: -55px;
      
    
    }
}

/* Statement */

.statement table {
    color: var(--primary-color);
    overflow-y: auto;
}

.Statement_table {
    display: block;
    background: var(--head-bg);
    padding: 2.5rem 2rem;
    border-radius: 34.5px !important;
}
.heads {
    width: 500px;
    height: 50px;
    border-color: #9dc0fa;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #9dc0fa;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
@media screen and (max-width: 600px) {
    .statement table th {
        padding-inline: 1.5rem;
        font-size: .8rem;
        opacity: 0.7;
    }  
    .heads {
        width: 100% !important;
      }
}
@media screen and (max-width: 1200px) {
  
    .heads {
        width: 100% !important;
      }

      .sma {
        width: fit-content !important;
        font-size: 30px !important;
      }
      .lanch-bg {
        border: none;
      }
      .vstack-bg {
        border: none;
      }
}



.audio {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .audio span {
    width: 4px;
    height: 20px;
    background: #3bc4ba;
    border-radius: 1px;
    bottom: 0;
  }
  
  .audio span:first-of-type {
    margin-top: 0;
  }
  
  .audio span:nth-child(1) {
    animation: animationTest 1.3s infinite ease-in-out;
  }
  
  .audio span:nth-child(2) {
    animation: animationTest 1.3s infinite ease-in-out;
    animation-delay: 0.2s;
  }
  
  .audio span:nth-child(3) {
    animation: animationTest 1.3s infinite ease-in-out;
    animation-delay: 0.4s;
  }
  
  @keyframes animationTest {
    0%   { height: 4px; opacity: 0.6; }
    50%  { height: 20px; opacity: 1; }
    100% { height: 4px; opacity: 0.6; }
  }
  