.stack__heading {
    font-size: 50px;
    font-weight: 700;
}

.bg-stak {
    background-color: #12334f;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 600px;
    overflow-y: scroll;

}


.page_heading {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page_heading2 {
  
        font-size: 22px;
        font-weight: 500;
        color: #fff;
   
}


.hight_next {
    height: 600px;
    overflow-y: scroll;
}

.tab-bg {
    display: none;
}

.form-select {
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .bg-stak {
        display: none;
    }
    .tab-bg {
        display: block;
    }
    .hight_next {
        height: 100%;
        
    }
    .stack__heading  {
        font-size: 28px;
    }
    
}
