

.num_heading {
    font-size: 258px;
    color: #bef0ed;
    font-weight: 700;
}
.plat_heading {
    font-size: 68px;
    font-weight: 700;
    position: relative;
    top: -11rem;
    
}

.plate_heading {
    font-size: 58px;
    font-weight: 700;
    position: relative;
    left: 10rem;
    top: -6rem;
}

.plat_p {
    font-size: 18px;
    margin-top: -95px;
    margin-left: 10.5rem;
} 


.carsoual-btn-vrc{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    /* background-image: linear-gradient(#8a46ff,#6e38cc); */
    background-color: #29ccc4;
    border-radius: 3rem;
    padding: 10px 14px;
    font-size: 22px;
    font-weight: 500;
    padding: 0.6rem 1rem;
    text-decoration: none;
    transition: all .2s;
    outline: none;
    border: none;
}


.carsoual-btn-vrc:hover {
    /* background-image: linear-gradient(#ffffff,#ffffff); */
    background-color: #fff;
    color: #000 !important;
    text-decoration: none;
    border: 1px solid #000;
}

@media only screen and (max-width: 600px){
    /* .num_heading {
        font-size: 30px;
    } */
    .plate_heading {
        font-size: 28px !important;
        position: relative;
        left: 1px !important;
        top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .plat_p  {
        font-size: 18px;
        /* position: relative; */
        /* left: -110px; */
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1200px){
    /* .num_heading {
        font-size: 30px;
    } */
    .plate_heading {
        font-size: 44px;
        position: relative;
        left: 24px;
         top: 5px;
         display: flex;
         align-items: center;
         justify-content: center;

        
    }
    .plat_p  {
        font-size: 18px;
        /* position: relative; */
        /* left: -110px; */
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}